section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-sizing: border-box;
    margin: 2rem 0.5%;
    gap: 0.1em;
    font-size: 4em;
    box-sizing: border-box;
    width: 99%;
    height: 50vh;
}
.section-right{
    background: url('Assets/images/source.jpg');
}
.section-left{
   background: url('Assets/images/cafe.jpg');
}
.banner{
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}
section a{
    text-decoration: none;
    color: whitesmoke;
}

article p{
    color: rgba(34, 7, 1, 1.0);   
}
.cafe,
.source{
    animation: typing 1s ease-in-out 0s forwards;
    text-align: center;
    position:relative;
}
@keyframes typing {
    from{
        top:-100%;
        font-size: 0.5em;
    }
    
    to{
        top: 0;
        font-size: 1.5em;
    }
}
@media all and (max-width:480px){
    section{
        display: flex;
        flex-flow: row wrap;
    }
    .banner{
        height: 50%;
    }
}