article{
    background-color: whitesmoke;
    color: rgba(34, 7, 1, 1.0);
    width: 98%;
    font-size: 1.5rem;
}
.banner.blends{
    background: url('../Assets/images/blends_banner.jpg');
}
.banner.equipment{
    background: url('../Assets/images/brewing_equipment.jpg');
}
.banner.unique{
    background: url('../Assets/images/unique_blends.jpg');
}
.banner.classic{
    background: url('../Assets/images/classic_blends.jpg');
}
.banner.blends{
    width: 99%;
    margin: 1rem auto;
    padding: 8rem;
}
.banner.equipment,
.banner.unique,
.banner.classic,
.banner.blends{
    width: 99%;
    margin: 1rem auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0rem 1rem;
    background-position: center;
    font-size: 2rem;
    color: rgba(223, 6, 6, 0.801);
    font-style: oblique;
    font-family: Verdana;
    height: 40vh;
}
.banner.unique .quote{
    width: 30%;
    text-align: center;
}
.banner.unique{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.item-product{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    color: rgba(34, 7, 1, 1.0);
}
.item-product img{
    width: 100%;
    height: 350px;
}
.item-product h4,.item-product p{
    padding: 0.2rem 0.5rem;
}
.item-product .control-block{
    text-align: right;
    padding-right: 2rem;
    font-size: 1.5rem;
    color: rgba(223, 6, 6, 0.801);
    font-weight: bold;
}
.blend_types{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.blend_types .banner{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: stretch;
    background-color: whitesmoke;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0.5rem;
}
.blend_types .banner a{
    font-size: 3rem;
    color: rgba(34, 7, 1, 1.0);
    text-align: center;
    text-decoration: none;
}
.blend_types .banner .blends_description{
    text-align: center;
}

.product{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: whitesmoke;
    margin-bottom: 2rem;
}
.item-product{
    margin: 0.5rem;
    background-color: white;
}
@media all and (max-width:480px){
    .product{
        grid-template-columns: 1fr;
    }
    .blend_types{
        display: flex;
        flex-flow: column;
        width: 98%;
    }
    .banner.unique .quote{
        width: 60%;
        font-size: 1.2rem;
    }
}
@media all and (min-width:481px) and (max-width:768px){
    .product{
        grid-template-columns: repeat(2,1fr);
    }
    .blend_types{
        display: flex;
        flex-flow: column;
        width: 98%;
    }
    .banner.unique .quote{
        font-size: 1.5rem;
    }
}
@media all and (min-width:769px) and (max-width:1024px){
    .blend_types{
        display: flex;
        flex-flow: row;
}
}